@page "/bills/details"
@attribute [Authorize]
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Pages.Data.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<div class="row">
    <h1>Details</h1>
</div>

<div class="row">
    <div class="col-4">
        <h4>Bill</h4>
        <hr />
        @if (bill is null)
        {
            <p><em>Loading...</em></p>
        }
        else {
            <dl class="row">
                <dt class="col-sm-3">StoreName</dt>
                <dd class="col-sm-9">@bill.StoreName</dd>
                <dt class="col-sm-3">BillingNumber</dt>
                <dd class="col-sm-9">@bill.BillingNumber</dd>
                <dt class="col-sm-3">BillDate</dt>
                <dd class="col-sm-9">@bill.BillDate</dd>
                <dt class="col-sm-3">DueDate</dt>
                <dd class="col-sm-9">@bill.DueDate</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@bill.Status.Name</dd>
                <dt class="col-sm-3">Category</dt>
                <dd class="col-sm-9">@bill.Category.Name</dd>
                <dt class="col-sm-3">PaymentMethod</dt>
                <dd class="col-sm-9">@bill.PaymentMethod.Name</dd>
            </dl>
            <div>
                <a href="@($"/bills/edit?billid={bill.BillId}")">Edit</a> |
                <a href="@($"/bills")">Back to List</a>
            </div>
        }
    </div>
    <div class="col-4">
        <h4>BillItems</h4>
        <hr />
        @if (bill.BillItems is null)
        {
            <p><em>No items.</em></p>
        }
        else {
            <div class="table-responsive">

                <QuickGrid Class="table" Items="DB.BillItems.Where(m => m.BillId == BillId)">
                    <PropertyColumn Property="billitem => billitem.Description" />
                    <PropertyColumn Property="billitem => billitem.Category.Name" />
                    <PropertyColumn Property="billitem => billitem.Quantity" />
                    <PropertyColumn Property="billitem => billitem.UnitPrice" />
                </QuickGrid>

            </div>
        }
    </div>
</div>


@code {
    #nullable enable
    Bill? bill;

    [SupplyParameterFromQuery]
    public int BillId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bill = await DB.Bills.FirstOrDefaultAsync(m => m.BillId == BillId);

        if (bill is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

    }
}
