@page "/bills"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Pages.Data.Models
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>BudgetOverview</h1>

<p>
    <a href="bills/create">Create New</a>
</p>

<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>Billing Number</th>
                <th>Bill Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Category</th>
                <th>Payment Method</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in DB.Bills)
            {
                <tr>
                    <td>@bill.StoreName</td>
                    <td>@bill.BillingNumber</td>
                    <td>@bill.BillDate</td>
                    <td>@bill.DueDate</td>
                    <td>@bill.Status</td>
                    <td>@bill.Category</td>
                    <td>@bill.PaymentMethod</td>
                    <td>
                        <a href="@($"bills/edit?billid={bill.BillId}")">Edit</a> |
                        <a href="@($"bills/details?billid={bill.BillId}")">Details</a> |
                        <a href="@($"bills/delete?billid={bill.BillId}")">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    // C# code can be added here if needed
}