@page "/paymentmethods/details"
@attribute [Authorize(Roles = "Admin")]
@inject Geld_Guardian.Data.ApplicationDbContext DB
@using Geld_Guardian.Pages.Data.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>PaymentMethod</h4>
    <hr />
    @if (paymentmethod is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@paymentmethod.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@paymentmethod.Description</dd>
            <dt class="col-sm-2">Use only for Expenses</dt>
            <dd class="col-sm-10"><span class="@(paymentmethod.IsExpensesOnly ? "oi oi-check" : "oi oi-x")" ></span></dd>
        </dl>
        <div>
            <a href="@($"/paymentmethods/edit?id={paymentmethod.PaymentId}")">Edit</a> |
            <a href="@($"/paymentmethods")">Back to List</a>
        </div>
    }
</div>

@code {
    PaymentMethod? paymentmethod;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        paymentmethod = await DB.PaymentMethod.FirstOrDefaultAsync(m => m.PaymentId == Id);

        if (paymentmethod is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
